/* .menu {
    overflow: hidden;
} */

.menu-img:hover {
    transform: scale(1);
}





@media (max-width: 1000px) {
    .menu-item {
        text-align: center;
    }
    .menu-img {
        width: 100%;
        
    }

    
}


/* .menu-img {
    scale: 1;
    width:300px;
    height:400px;
    margin:50px;
    background-image:url("img/lala.jpeg");
    background-size:100% 100%;
    background-position:center;
    transition:1s all;
} */
/* .menu-img:hover {
    background-size:130% 130%;
} */
